<li id="trip-<%= trip.id %>">
  <span class="content">
    Source: <%= trip.source.name %>,
    Destination: <%= trip.destination.name %>,
    Departure Time: <%= trip.departure_t %>,
    Number of seats: <%= trip.seats %>,
  </span>
  <span class="timestamp">
    Created <%= time_ago_in_words(trip.created_at) %> ago.
      <%= link_to "delete", trip, method: :delete,
                                       data: { confirm: "You sure?" } %>
  </span>
</li>
