<li id="pickup-<%= pickup.id %>">
  <span class="content">
    Source: <%= pickup.source.name %>,
    Destination: <%= pickup.destination.name %>,
    Departure Time: <%= pickup.departure_t %>,
  </span>
  <span class="timestamp">
    Created <%= time_ago_in_words(pickup.created_at) %> ago.
      <%= link_to "delete", pickup, method: :delete,
                                       data: { confirm: "You sure?" } %>
  </span>
</li>
