<%= form_for(@pickup) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.fields_for :source do |s| %>
      <%= s.text_field :name, placeholder: "Source" %>
    <% end %>
  </div>
  <div class="field">
    <%= f.fields_for :destination do |d| %>
      <%= d.text_field :name, placeholder: "Destination" %>
    <% end %>
  </div>
  <div class="field">
    <%= f.time_field :departure_t, placeholder: "Departure time" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
